.example-card {
  max-width: 350px;
  margin-top: 30px;
  cursor: pointer;
}

.example-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ff4081;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flex-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.like-count {
  padding: 10px 15px;
  margin: 0;
  border-radius: 7px;
  background-color: #ff4081;
  color: #fff;
  font-weight: bold;
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-save {
  width: 100%;
}
