.flex-profile-info {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  //justify-content: space-between;
}

.profile-img {
  width: 300px;
  height: 300px;
  margin-right: 100px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profile-infos {
  div {
    margin-bottom: 20px;
    font-weight: 600;

    span {
      font-weight: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.roles {

  span {
    margin-right: 10px;
  }
}

.create-tab {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-page-box {
  padding: 0;
  width: 100%;
  text-align: center;
}

.example-card:hover {
  background-color: rgba(0, 0, 0, 0.2);

  .title-hover {
    color: #ff4081;
  }
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 25px;
}

.saved-list {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .saved-box {
    width: 80%;
    //background: #ff4081;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .saved-card {
      width: 150px;
      margin: 10px;
      background: #a2a7dc;
      border-radius: 15px 15px 7px 7px;
      overflow: hidden;

      .saved-card-title {
        text-align: center;
        background: #8c97e8;
        padding: 15px 0;
        //font-weight: bold;
        color: #fff;
        font-size: 20px;
      }

      .saved-card-content {
        padding: 5px;
        text-align: center;
      }
      //height: 100px;
    }
  }
}
